.editor {
	height: 100%;
	padding: 10px;
	position: relative;
}

.editor-header {
	-webkit-box-shadow: 0 3px 4px -2px #d3d3d3;
	box-shadow: 0 3px 4px -2px #d3d3d3;
	height: 20%;
}
.editor-choices {
	height: 75%;
	overflow: auto;
	margin: 10px auto;
}

.editor-icon {
	background: salmon;
	color: gray;
	font-size: 5rem;
	margin: 0 auto;
	width: 13%;
}
.editor-icon-choices {
	display: inline-block;
	margin: 0 1px 1px 0;
}
