/* MIXINS MIXINS  MIXINS MIXINS  MIXINS  MIXINS  MIXINS MIXINS  MIXINS MIXINS */
/* 
 * Syntax:
 * For one shadow:  .box-shadows(1px 1px 1px 1px black);
 * For two shadows: .box-shadows(~"1px 1px 1px 1px black, 1px 1px 2px 2px white");
 */
.box-shadows(@attributes) {
	-webkit-box-shadow: @attributes;
	        box-shadow: @attributes;	
}

.border-box() {
	-webkit-box-sizing: -webkit-border-box;
	   -moz-box-sizing:         border-box;
	        box-sizing:         border-box;
}

.transforms(@attributes) {
	-webkit-transform: @attributes;
	    -ms-transform: @attributes;
	        transform: @attributes;
}

.transitions(@property: all, @duration: 0s, @timing: linear, @delay: 0s) {
	-webkit-transition: @property @duration @timing @delay;
	        transition: @property @duration @timing @delay;
}


/* SPECIFIC SPECIFIC  SPECIFIC SPECIFIC  SPECIFIC SPECIFIC  SPECIFIC SPECIFIC */
/* Creates a circle of an element, hides what sticks out */
.circle-shape(@radius: 50%) {	
	border-radius: @radius;
	overflow: hidden;
	/* Webkit does not respect overflow hidden, we need this hack: */
	-webkit-mask-image: -webkit-radial-gradient(#fff 0%, #fff 70%, transparent 75%);
}


.font-standard () {
	font-family: 'Love Ya Like A Sister', /* Josefin Slab, */ sans-serif;
}
.font-icons () {
	font-family: 'icons', 'Love Ya Like A Sister', sans-serif;

	& .action-text {
		margin-top: -0.55em;
	}
}