/* VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS */
@import "mixins.less";
@import "action-icon.less";
@import "positioning-flex.less";
@import "editor.less";

@config-size: 10rem;
@day-total: 100% / 7; // Seven dates on each row.
@day-margin: 0.25%;
@day-width: @day-total - (@day-margin * 2);
@space-left: 100% - @day-total * 5; // Max five weeks.
@standard-background: gainsboro;

/* GENERAL  GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL  GENERAL  GENERAL */
html {
	overflow: hidden;
	-webkit-tap-highlight-color: transparent;
}
body:before { // This solution let us set opacity of background.
	content: "";
	background: url('res/squairy_light.png') repeat;
	height: 100%;
	left: 0;
	opacity: 0.5;
	position: fixed;
	top: 0;
	width: 100%;
}
html, body, #main-affairs {
	font-size: 1vmin;
	height: 100%;
	margin: 0;
	width: 100%;
}
#main-affairs {
	height: 99%; // Firefox needs this or scroll bar.
}

a {	
	text-decoration: none;
}

input[type="checkbox"] {
	display: none;
}

/* Font icon */
@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot');
	src:url('fonts/icons.eot?#iefix') format('embedded-opentype'),
		url('fonts/icons.woff') format('woff'),
		url('fonts/icons.ttf') format('truetype'),
		url('fonts/icons.svg#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

/* CONFIG  CONFIG CONFIG  CONFIG CONFIG  CONFIG CONFIG  CONFIG CONFIG  CONFIG */
.config {
	opacity: 0.9;
	
	&.active {
		opacity: 0.5;
	}
}
.config-menu {
	display: inline;
}
.config-icon {
	background: snow;
	display: inline-block;
	.font-icons();
	font-size: @config-size - 3;
	margin: 0.5rem;
	width: @config-size;
}
.config-button {
	margin-right: 2%;
	.transitions(background, .2s);

	& .action-text:before {
		content: "\e000"
	}
}
.edit-button {
	float: right;
}
.add-user {
	background: powderblue;
	display: none;
	font-size: @config-size + 8;
}


/* DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE */
.date-nav {
	.font-standard();
	margin: 0 auto;
	position: relative;
	text-shadow: 1px 1px 3px lightgrey;
	.transitions(width, .2s, linear);
	z-index: 5;
}
.date-overview {
	font-size: 4rem;
	font-weight: bold;
	margin-bottom: 1rem;
	text-align: center;
}
.year,
.month {
	color: firebrick;
	display: inline-block;
	margin-top: 0.5rem;
	.transitions(color, .2s, linear);
	vertical-align: top;
}
.this-year,
.this-month {
	color: dimgray;
}

.month-change {
	color: dimgray;
	display: inline-block;
	border-radius: 50%;
	background: white;
	width: 5rem;
}

.day {
	color: gray;
	display: inline-block;
	font-size: 3.5rem;
	margin: @day-margin;
	width: @day-width;
	
	&:first-child.tuesday {
		margin-left: @day-total + @day-margin;
	}
	&:first-child.wednesday {
		margin-left: (@day-total * 2) + @day-margin;
	}
	&:first-child.thursday {
		margin-left: (@day-total * 3) + @day-margin;
	}
	&:first-child.friday {
		margin-left: (@day-total * 4) + @day-margin;
	}
	&:first-child.saturday {
		margin-left: (@day-total * 5) + @day-margin;
	}
	&:first-child.sunday {
		margin-left: (@day-total * 6) + @day-margin;
	}
	
	& .show {
		opacity: 1;
		visibility: visible;
	}
}
.today .action-button .action-text {
	color: yellowgreen !important;
}
.sunday .action-text {
	color: tomato !important;
}


/* ACTIONS ACTIONS ACTIONS ACTIONS  ACTIONS  ACTIONS ACTIONS  ACTIONS ACTIONS */
.action {
	background: @standard-background;
	color: gray;
	display: inline-block;
	.font-icons();
	font-size: 16rem;
	margin-right: 1px;
	margin-bottom: 1px;
	width: 21rem;

	& .action-selected:checked + .action-button  {
		color: black;
	}

	& .action-bg {
		.transitions(opacity, .3s, linear);
	}
}

.add-action {
	background: LightSkyBlue;
	color: black;
	display: none;
}

/* ANIMATIONS   ANIMATIONS   ANIMATIONS  ANIMATIONS   ANIMATIONS   ANIMATIONS */
@keyframes action-icon-pulse {
	50% {.transforms(scale(1.05));}
}

@-webkit-keyframes action-icon-pulse {
	50% {-webkit-transform:scale(1.05);}
}
