<!DOCTYPE html>
<html lang="sv-SE">
<head>
	<title>Test</title>
	<link rel="stylesheet" href="style.css" type="text/css"/>
</head>
<body ng-app="">
	<div id="main-affairs" ng-controller="SweetDates">
		<nav class="date-nav">
			<div class="date-overview">
				<span class="year"
					ng-class="{'this-year': {{selected | date:'yyyy'}} == {{today | date:'yyyy'}}}">
					{{selected | date:'yyyy'}} - 
				</span>
				<span class="month">{{selected | date:'MMM'}}</span>
			</div>
			<div class="days" ng-controller="Sweets">
				<div class="day {{day | date:'EEEE' | lowercase}}"
					ng-repeat="(day, sweets) in dates"
					ng-class="{today: day == today, selected: day == selected}">
					<a href="" class="day-link"
						ng-click="changeSelectedDate()">
						{{day | date:'d'}}</a>
					<span class="sweet {{sweet.name}}"
						ng-repeat="sweet in types"
						ng-class="{show: sweets[sweet.name]}"></span>
				</div>
			</div>
		</nav>
		<div class="sweets" ng-controller="Sweets">
			<span ng-repeat="sweet in types">
				<input type="checkbox" id="{{sweet.name}}"
					name="{{sweet.name}}" value="{{sweet.name}}"
					ng-model="dates[selected][sweet.name]"
					ng-change="setValue(sweet.name)"/>
				<label class="icon {{sweet.icon}}" for="{{sweet.name}}"></label>
			</span>
		</div>
	</div>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>
	<script src="script.js" type="text/javascript"></script>
	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
