<!DOCTYPE html>
<html lang="sv-SE">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title>Test</title>
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
</head>
<body ng-app="theApp" class="ng-cloak">

	<input type="checkbox" id="toggle-config" />
	<input type="checkbox" id="toggle-edit" />
	<input type="checkbox" id="toggle-date-expander" />
	<input type="checkbox" id="toggle-editor" />

	<div id="main-affairs">

		<div id="position-wrapper-editor" ng-controller="Editor" ng-class="currentState">
			<div class="editor-overlay" ng-click="setState(states.HIDE)"></div>
			<div class="editor">
				<div class="editor-header">
					<div class="editor-header-icons">
						<action-icon class="editor-icon editor-icon-header editor-nav editor-nav-prev" ng-click="prevState()"
							ng-style="currentState == states.MENU || currentState == states.HIDING ? {'visibility': 'hidden'} : {}"
							icon="{{prevStates.length == 0 || isEditing ? 'O' : '<'}}"></action-icon>
						<action-icon class="editor-icon editor-icon-header always-bg"
							ng-style="{'background-color': 'rgb(' + (255-r.others) + ', ' + (255-g.others) + ', ' + (255-b.others) + ')'}" icon="{{icon}}"></action-icon>
						<action-icon class="editor-icon editor-icon-header editor-nav editor-nav-next" ng-click="nextState()"
							ng-style="currentState == states.MENU || currentState == states.HIDING ? {'visibility': 'hidden'} : {}"
							icon="{{currentState == states.MENU || currentState == states.HIDING ? '|' : nextStates.length == 0 || isEditing ? 'v' : '>'}}"></action-icon>
					</div>
				</div>
				<div class="editor-choices">
					<div class="editor-choose-menu">
						<div class="center editor-menu-appearance">
							<action-icon class="editor-icon editor-menu-choice" ng-click="setState(states.ICON)" icon="&#xe008"></action-icon>
							<action-icon class="editor-icon editor-menu-choice" ng-click="setState(states.BACKGROUND)" icon="&#xe002"></action-icon>
						</div>
						<div class="center editor-menu-info">
							<action-icon class="editor-icon editor-menu-choice" ng-click="setState(states.USER)"
								 ng-style="{'display': isUser ? 'inline-block' : 'none'}" icon="&#xe00a"></action-icon>
							<action-icon class="editor-icon editor-menu-choice" ng-click="setState(states.REMOVE)" icon="&#xe00c"></action-icon>
						</div>
					</div>
					<div class="editor-choose-icon">
						<action-icon class="editor-icon editor-icon-choice" ng-repeat="icon in availableIcons"
							input-type="radio" input-id="ac{{$index}}" input-name="choice" input-value="{{icon}}" input-model="$parent.icon"
							icon="{{icon}}"></action-icon>
					</div>
					<div class="editor-choose-background">
						<div class="color-slider red">
							<div class="slider">
								<div class="slider-line"></div>
								<div class="slider-header" ng-style="{
									'background-color': 'rgb(255, ' + r.others + ', ' + r.others + ')',
									'left': r.intensity * 100 + '%'}">
								</div>
							</div>
							<input class="slider-number" ng-model="r.value" />
						</div>
						<div class="color-slider green">
							<div class="slider">
								<div class="slider-line"></div>
								<div class="slider-header" ng-style="{
									'background-color': 'rgb(' + g.others + ', 255, ' + g.others + ')',
									'left': g.intensity * 100 + '%'}">
								</div>
							</div>
							<input class="slider-number" ng-model="g.value" />
						</div>
						<div class="color-slider blue">
							<div class="slider">
								<div class="slider-line"></div>
								<div class="slider-header" ng-style="{
									'background-color': 'rgb(' + b.others + ', ' + b.others + ', 255)',
									'left': b.intensity * 100 + '%'}">
								</div>
							</div>
							<input class="slider-number" ng-model="b.value" />
						</div>
					</div>
					<div class="editor-choose-user">
						<div class="editor-choose-user-section" onclick="document.getElementById('editor-user-email').focus()">
							<input type="email" id="editor-user-email" class="editor-user-input" placeholder="info@secrets.com" autofocus>
							<action-icon class="editor-icon editor-user-choice" icon="&#xe008"></action-icon>
						</div>
						<div class="editor-choose-user-section" onclick="document.getElementById('editor-user-password').focus()">
							<input type="password" id="editor-user-password" class="editor-user-input" placeholder="********">
							<action-icon class="editor-icon editor-user-choice" icon="&#xe00a"></action-icon>
						</div>
					</div>
					<div class="editor-choose-remove">
						<div class="editor-choose-remove-section">
							<action-icon class="editor-icon editor-remove-choice editor-logout-choice" icon="&#xe008"></action-icon>
						</div>
						<div class="editor-choose-remove-section">
							<action-icon class="editor-icon editor-remove-choice editor-permanent-delete-choice" icon="&#xe00a"></action-icon>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="position-wrapper-config">
			<div class="config" ng-controller="Users" ng-class="{active: activeUser >= 0}">
				<action-icon class="config-icon config-button" input-id="toggle-config"></action-icon>
				<div class="config-menu">

					<action-icon class="config-icon user" ng-repeat="(key, user) in users" ng-class="{selected: activeUser == key}" ng-click="edit(key, user)"
						input-type="radio" input-id="user{{key}}" input-name="user" input-value="{{key}}" input-model="$parent.activeUser"
						icon="{{user.icon}}" background="{{user.background}}"></action-icon>

					<action-icon class="config-icon user add-user" ng-click="add()" input-id="toggle-editor" icon="+"></action-icon>
					<action-icon class="config-icon edit-button" input-id="toggle-edit" icon="&#xe008"></action-icon>
				</div>
			</div>
		</div>

		<div class="controller-wrapper" ng-controller="ActionTypes">
		<div class="controller-wrapper" ng-controller="DateActions">
			<div id="position-wrapper-date">
				<nav class="date-nav">
					<div class="date-overview">
						<a href="" class="month-change prev" ng-click="changeMonth(-1)"><</a>
						<label class="toggle-date-expander-label" for="toggle-date-expander">
							<span class="year"
								ng-class="{'this-year': (selected | date:'yyyy') == (today | date:'yyyy')}">
								{{selected | date:'yyyy'}} - 
							</span>
							<span class="month"
								ng-class="{'this-month': (selected | date:'M') == (today | date:'M')}">
								{{selected | date:'MMM'}}
							</span>
						</label>
						<a href="" class="month-change next" ng-click="changeMonth(1)">></a>
					</div>
					<div class="days">
					
						<action-icon class="day {{day | date:'EEEE' | lowercase}} inner-circle-selected always-bg"
							ng-repeat="(day, actions) in dates" icon="{{day | date:'d'}}"
							input-type="radio" input-id="{{day}}" input-name="date" input-model="$parent.selected" input-directive="integer"
							custom-background="ng-repeat='action in types' ng-style='actions[action.name] ? {&quot;background&quot;: action.background} : &quot;&quot;'">
						</action-icon>
					</div>
				</nav>
			</div>

			<div id="position-wrapper-actions">
				<div class="actions">
					<action-icon class="action" ng-repeat="type in types"
						input-type="checkbox" input-id="{{type.name}}" input-model="dates[selected][type.name]"
						icon="{{type.icon}}" background="{{type.background}}"></action-icon><!--
					These are inline-blocks and need this comment to remove white space between them.
					--><action-icon class="action add-action" ng-click="add()" input-id="toggle-editor" icon="+"></action-icon>
				</div>
			</div>
		</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script> -->
	<script src="script.js" type="text/javascript"></script>
	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
