<!DOCTYPE html>
<html lang="sv-SE">
<head>
	<meta charset="UTF-8" />
	<link rel="stylesheet" href="style.css" type="text/css"/>
	<title>Test</title>
	<link href='http://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister' rel='stylesheet' type='text/css'>
</head>
<body ng-app="" ng-controller="ActionTypes" ng-cloak>

	<input type="checkbox" id="toggle-config" />
	<input type="checkbox" id="toggle-edit" />
	<input type="checkbox" id="toggle-date-expander" />
	<input type="checkbox" id="add-new-action" />

	<div id="main-affairs" ng-controller="DateActions">

		<div id="position-wrapper-editor" ng-controller="Editor" ng-class="currentState">
			<div class="editor-overlay" ng-click="setState(states.HIDE)"></div>
			<div class="editor">
				<div class="editor-header">
					<div class="editor-header-icons">
						<div class="action-icon circle editor-icon editor-icon-header editor-nav editor-nav-prev" ng-click="prevState()">
							<label class="action-button">
								<div class="action-bgs">
								</div>
								<span class="action-text">
									{{currentState == states.MENU || currentState == states.HIDING ? "|" : prevStates.length == 0 || isEditing ? "O" : "<"}}
								</span>
							</label>
						</div>
						<div class="action-icon circle editor-icon editor-icon-header">
							<input type="radio" class="action-selected" checked />
							<label class="action-button">
								<div class="action-bgs">
									<div class="action-bg" ng-style="{'background-color': 'rgb(' + (255-r.others) + ', ' + (255-g.others) + ', ' + (255-b.others) + ')'}">
									</div>
								</div>
								<span class="action-text">{{icon}}</span>
							</label>
						</div>
						<div class="action-icon circle editor-icon editor-icon-header editor-nav editor-nav-next"
							ng-click="nextState()" ng-style="currentState == states.MENU || currentState == states.HIDING ? {'visibility': 'hidden'} : {}">
							<label class="action-button">
								<div class="action-bgs">
								</div>
								<span class="action-text">
									{{nextStates.length == 0 || isEditing ? "v" : ">"}}
								</span>
							</label>
						</div>
					</div>
				</div>
				<div class="editor-choices">
					<div class="editor-choose-menu">
						<div class="center">
							<div class="action-icon circle editor-icon editor-menu-choice" ng-click="setState(states.ICON)">
								<label class="action-button">
									<div class="action-bgs">
									</div>
									<span class="action-text">&#xe008</span>
								</label>
							</div>
							<div class="action-icon circle editor-icon editor-menu-choice" ng-click="setState(states.BACKGROUND)">
								<label class="action-button">
									<div class="action-bgs">
									</div>
									<span class="action-text">&#xe002</span>
								</label>
							</div>
						</div>
						<div class="center">
							<div class="action-icon circle editor-icon editor-menu-choice" ng-click="setState(states.USER)">
								<label class="action-button">
									<div class="action-bgs">
									</div>
									<span class="action-text">&#xe00a</span>
								</label>
							</div>
							<div class="action-icon circle editor-icon editor-menu-choice" ng-click="setState(states.DELETE)">
								<label class="action-button">
									<div class="action-bgs">
									</div>
									<span class="action-text">&#xe00c</span>
								</label>
							</div>
						</div>
					</div>
					<div class="editor-choose-icon">
						<div class="action-icon circle editor-icon editor-icon-choice" ng-repeat="icon in icons">
							<input type="radio" class="action-selected"
								id="ac{{$index}}" name="choice" value="ac{{$index}}">
							<label for="ac{{$index}}" class="action-button">
								<div class="action-bgs">
								</div>
								<span class="action-text">{{icon}}</span>
							</label>
						</div>
					</div>
					<div class="editor-choose-background">
						<div class="color-slider red">
							<div class="slider" ng-mousedown="sliderActive(r, $event)">
								<div class="slider-line"></div>
								<div class="slider-header" ng-style="{'background-color': 'rgb(255, ' + r.others + ', ' + r.others + ')', 'left': r.intensity * 100 + '%'}">
								</div>
							</div>
							<input class="slider-number" ng-model="r.value" />
						</div>
						<div class="color-slider green">
							<div class="slider" ng-mousedown="sliderActive(g, $event)">
								<div class="slider-line"></div>
								<div class="slider-header" ng-style="{'background-color': 'rgb(' + g.others + ', 255, ' + g.others + ')', 'left': g.intensity * 100 + '%'}">
								</div>
							</div>
							<input class="slider-number" ng-model="g.value" />
						</div>
						<div class="color-slider blue">
							<div class="slider" ng-mousedown="sliderActive(b, $event)">
								<div class="slider-line"></div>
								<div class="slider-header" ng-style="{'background-color': 'rgb(' + b.others + ', ' + b.others + ', 255)', 'left': b.intensity * 100 + '%'}">
								</div>
							</div>
							<input class="slider-number" ng-model="b.value" />
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div id="position-wrapper-config">
			<div class="config">
				<div class="action-icon circle config-icon config-button">
					<!-- input is at the top. -->
					<label for="toggle-config" class="action-button">
						<div class="action-bgs">
							<div class="action-bg" style="background: powderblue;"></div>
						</div>
						<span class="action-text">&#xe000</span>
					</label>
				</div>
				<div class="config-menu" ng-controller="Users">
					<div class="action-icon circle config-icon user"
						ng-repeat="(key, user) in users">
						<input type="radio" class="action-selected"
							id="user{{key}}" name="user" value="{{key}}">
						<label for="user{{key}}" class="action-button" ng-click="edit(key, user)">
							<div class="action-bgs">
								<div class="action-bg" style="background: {{user.background}};"></div>
							</div>
							<span class="action-text">{{user.icon}}</span>
						</label>
					</div>
					<div class="action-icon circle config-icon always-bg add-user user">
						<input type="checkbox" class="action-selected" id="add-new-user">
						<label for="add-new-user" class="action-button" ng-click="add()">
							<div class="action-bgs">
								<div class="action-bg" style="background: powderblue;"></div>
							</div>
							<span class="action-text">+</span>
						</label>
					</div>
					<div class="action-icon circle config-icon edit-button">
						<!-- input is at the top. -->
						<label for="toggle-edit" class="action-button">
							<div class="action-bgs">
								<div class="action-bg" style="background: powderblue;"></div>
							</div>
							<span class="action-text">&#xe008</span>
						</label>
					</div>
				</div>
			</div>
		</div>

		<div id="position-wrapper-date">
			<nav class="date-nav">
				<div class="date-overview">
					<a href="" class="month-change prev" ng-click="changeMonth(-1)"><</a>
					<label class="toggle-date-expander-label" for="toggle-date-expander">
						<span class="year"
							ng-class="{'this-year': (selected | date:'yyyy') == (today | date:'yyyy')}">
							{{selected | date:'yyyy'}} - 
						</span>
						<span class="month"
							ng-class="{'this-month': (selected | date:'M') == (today | date:'M')}">
							{{selected | date:'MMM'}}
						</span>
					</label>
					<a href="" class="month-change next" ng-click="changeMonth(1)">></a>
				</div>
				<div class="days">
					<div class="action-icon circle inner-circle-selected always-bg day {{day | date:'EEEE' | lowercase}}"
						ng-repeat="(day, actions) in dates"
						ng-class="{today: day == today, nearby: nearbyDate(day)}">
						<input type="radio" name="date" class="action-selected"
							id="{{day}}" value="{{day}}" ng-model="$parent.selected">
						<label for="{{day}}" class="action-button">
							<div class="action-bgs">
								<div class="action-bg"
									ng-repeat="action in types"
									ng-style="calculateStyle(action, actions[action.name])"></div>
							</div>
							<span class="action-text">{{day | date:'d'}}</span>
						</label>
					</div>
				</div>
			</nav>
		</div>

		<div id="position-wrapper-actions">
			<div class="actions">
				<div class="action-icon circle action"
					ng-repeat="type in types">
					<input type="checkbox" class="action-selected"
						id="{{type.name}}" value="{{type.name}}"
						ng-model="dates[selected][type.name]">
					<label for="{{type.name}}" class="action-button">
						<div class="action-bgs">
							<div class="action-bg" style="background: {{type.background}};"></div>
						</div>
						<span class="action-text">{{type.icon}}</span>
					</label>
				</div>
				<div class="action-icon circle always-bg add-action action">
					<label for="add-new-action" class="action-button">
						<div class="action-bgs">
							<div class="action-bg"></div>
						</div>
						<span class="action-text">+</span>
					</label>
				</div>
			</div>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js"></script>
	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script> -->
	<script src="script.js" type="text/javascript"></script>
	<script src="http://localhost:35729/livereload.js"></script>
</body>
</html>
