/* VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS VARS */
@import "mixins.less";

@sweets-padding: 2vmin 0 3vmin;

@days-width: 90vmin;
@day-total: 100% / 7;
@day-margin: 0.25%;
@day-width: @day-total - (@day-margin * 2);

/* GENERAL  GENERAL GENERAL GENERAL GENERAL GENERAL GENERAL  GENERAL  GENERAL */
html, body {
	font-size: 100%;
	height: 100%;
	margin: 0;
	width: 100%;
}

a {	
	text-decoration: none;
}

input[type="checkbox"] {
	display: none;
}

/* DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE DATE */
.date-nav {
	position: relative;
}
.date-overview {
	font-size: 4vmin;
	font-weight: bold;
	text-align: center;
}
.year {
	color: black;
	.transitions(color, .2s, linear);
}
.this-year {
	color: gainsboro;
}
.days {
	margin: 0 auto;
	width: @days-width;
}
.day {
	display: inline-block;
	margin: @day-margin;
	position: relative;
	padding: @day-width @day-width 0 0;
	
	&:first-child.tuesday {
		margin-left: @day-total + @day-margin;
	}
	&:first-child.wednesday {
		margin-left: (@day-total * 2) + @day-margin;
	}
	&:first-child.thursday {
		margin-left: (@day-total * 3) + @day-margin;
	}
	&:first-child.friday {
		margin-left: (@day-total * 4) + @day-margin;
	}
	&:first-child.saturday {
		margin-left: (@day-total * 5) + @day-margin;
	}
	&:first-child.sunday {
		margin-left: (@day-total * 6) + @day-margin;
	}
}
.day-sweets {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	
	& .day-sweet {
		display: block;
		float: left;
		height: 50%;
		opacity: 0;
		visibility: hidden;
		width: 50%;
		.transitions(opacity, .2s, linear);
	}
	& .show {
		opacity: 1;
		visibility: visible;
	}
}
.day-link {
	color: darkgrey;
	left: 0;
	height: 100%;
	position: absolute;
	text-align: center;
	top: 0;
	width: 100%;
	
	& .circle {
		background: white;
		border-radius: 50%;
		display: block;
		height: 50%;
		left: 25%;
		top: 25%;
		position: absolute;
		width: 50%;
		.transitions(background, .2s, linear);
	}
	
	& .day-text {
		margin-top: -0.6em;
		width: 100%;
		position: absolute;
		top: 50%;
		left: 0;
		font-size: 3vmin;
	}
}
.today .day-link {
	color: yellowgreen !important;
}
.selected .day-link {
	color: snow;
	
	& .circle {
		background: black;
	}
}
.sunday .day-link {
	color: tomato;
}

.date-expander-label {
	cursor: pointer;
	display: block;
	font-size: 3vmin;
	height: 7vmin;
	line-height: 7vmin;
	margin: 0 auto;
	width: 7vmin;

	&:before {
		background: gainsboro;
		border-radius: 50%;
		content: "-";
		display: block;
		text-align: center;
	}
}

/* Expanded */
#date-expander:checked + .date-nav {
	& .date-expander-label:before {
		content: "+";
	}
	& .day {
		margin-left: @day-margin !important;
	}
	& .day:not(.nearby) {
		display: none;
	}
}

/* SWEETS  SWEETS  SWEETS SWEETS SWEETS  SWEETS SWEETS SWEETS  SWEETS  SWEETS */
.sweets {
	padding: @sweets-padding;
	position: relative;
	text-align: center;
	z-index: 10;
}
.sweet-check:not(:checked) + .icon {
	background: gainsboro !important;
	color: gray;
}
.icon {
	border-radius: 50%;
	display: inline-block;
	font-family: 'icomoon';
	font-size: 12vmin;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	height: 16vmin;
	line-height: 17vmin !important;
	speak: none;
	text-align: center;
	text-transform: none;
	width: 16vmin;
	
	-webkit-font-smoothing: antialiased;
	
	.transitions(color, .2s, linear);
}

/* FONT ICON FONT ICON FONT ICON FONT ICON FONT ICON FONT ICON FONT ICON FONT */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}
