html, body {
	font-size: 100%;
	height: 100%;
	margin: 0;
	width: 100%;
}

.date-nav {
	padding-bottom: 5%;
	padding-top: 10%;
	position: relative;
	text-align: center;
}
.month {
	display: block;
	font-size: 2rem;
	text-align: center;
}
.days {
	letter-spacing: 1rem;
}
.day {
	display: inline-block;
	vertical-align: middle;
}
.day:nth-child(1),
.day:nth-child(5) {
	color: lightgrey;
	font-size: 1.5rem;
}
.day:nth-child(3) {
	font-size: 5rem;
}
.day:nth-child(2),
.day:nth-child(4) {
	color: grey;
	font-size: 2rem;
}
.day:nth-child(1) {
	transform: rotateY(-40deg);
	-webkit-transform: rotateY(-40deg);
}
.day:nth-child(2) {
	transform: rotateY(-20deg);
	-webkit-transform: rotateY(-20deg);
}
.day:nth-child(4) {
	transform: rotateY(20deg);
	-webkit-transform: rotateY(20deg);
}
.day:nth-child(5) {
	transform: rotateY(40deg);
	-webkit-transform: rotateY(40deg);
}
.today {
	color: chocolate !important;
}
.selected {
	color: chartreuse !important;
}
.monday {
	color: yellow !important;
}
.day:hover {
	cursor: pointer;
}

.sweets {
	position: relative;
	text-align: center;
}
input[type="checkbox"] {
	display: none;
}
.icon {
	background: lightgrey;
	border-radius: 50%;
	display: inline-block;
	font-size: 8rem;
	text-align: center;
	height: 12rem;
	width: 12rem;
	line-height: 13rem !important;
}
input:checked + label {
	color: white;
}
input:checked + .icon-ian-yates-mr-whippy {
	background: powderblue;
}
input:checked + .icon-drink {
	background: hotpink;
}
input:checked + .icon-cupcake {
	background: orange;
}
input:checked + .icon-candy {
	background: lightgreen;
}

/* FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT FONT */
@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-ian-yates-mr-whippy, .icon-drink, .icon-cupcake, .icon-candy {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-ian-yates-mr-whippy:before {
	content: "\e000";
}
.icon-candy:before {
	content: "\f42d";
}
.icon-cupcake:before {
	content: "\f35b";
}
.icon-drink:before {
	content: "\e001";
}

